doctype 5
html
  head
    title Online Game
    style
      include style.css

  body
  script(src="../vendor/phaser.min.js")
  script(src="https://alotlikerockets.herokuapp.com/socket.io/socket.io.js")
  script(type="text/javascript" src="index.js")
